<!DOCTYPE html>
<html ng-app="Silent">
  <head>
    <% include partials/head %>
    <script src="/js/lib/angular.min.js"></script>
  </head>
  <body class="sil-bg-green" ng-controller="HomeController">

    <nav class="bg-white sil-green flex flex-baseline px3 py3" >
      <div class="sil-nav-options">Silent</div>
      <div class="flex-auto bold h3 center">{{ room }}</div>
      <div class="sil-nav-options right-align">
        <div class="inline-block ml1" ng-show="authenticated">
          <div class="sil-nav-option sil-pointer center p1">
            <span ng-click="logout()">Logout</span>
          </div>
        </div>
        <div class="inline-block ml1" ng-hide="authenticated">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openCredentialsModal()">Login / Signup</div>
        </div>
      </div>
    </nav>

    <% include partials/scripts %>

  </body>
</html>
