<!DOCTYPE html>
<html ng-app="Silent">
  <head>
    <% include partials/head %>
  </head>
  <body class="bg-darken-1" ng-controller="HomeController">
    <% include partials/nav %>
    <% include partials/scripts %>
  </body>
</html>
