<!DOCTYPE html>
<html ng-app="Silent">
  <head>
    <title>silent</title>
    <link rel='stylesheet' href='/stylesheets/basscss.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/lib/angular.min.js"></script>
  </head>
  <body class="bg-darken-1">

    <!-- libraries -->
    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/lib/angular-modal-service.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/angular-moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- global roomId variable -->
    <% if( typeof room != 'undefined') { %>
      <script> var roomId = '<%= room %>'; </script>
    <% } %>
    
    <!-- scripts -->
    <script src="/js/services.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>
