<!DOCTYPE html>
<html ng-app="Silent">
  <head>
    <% include partials/head %>
    <script src="/js/lib/angular.min.js"></script>
  </head>
  <body class="bg-darken-1">

    <% include partials/scripts %>
  </body>
</html>
