<!DOCTYPE html>
<html ng-app="Silent" ng-cloak>
  <head>
    <% include partials/head %>
  </head>
  <body class="bg-white" ng-controller="IndexController">
    <% include partials/nav %>

    <div class="sil-landing col-12 bg-yellow relative">
      <div class="sil-landing-image" src="/media/bg.png"></div>
      <div class="sil-landing-content sil-absolute-center absolute center">
        <img class="sil-landing-logo center" src="/media/logo.png" />
        <div class="sil-landing-text white h2 center bold">Let your presence speak for itself</div>
        <div ng-click="scrollTo('.sil-how')"class="white sil-pointer inline-block mt2 mr1 ml1 px2 py1 mb2 rounded sil-border-white3 center">
          How do I use Silent? 
        </div>
      </div>
    </div>

    <% include partials/how %>

    <% include partials/scripts %>

  </body>
</html>
