<!DOCTYPE html>
<html ng-app="Silent">

  <head>
    <% include partials/head %>
    <script src="/js/lib/angular.min.js"></script>
  </head>

  <body class="bg-darken-1">

    <nav class="bg-white sil-green flex flex-baseline px3 py2">
      <a class="flex-auto" href="/"><div class="sil-nav-options relative flex-auto"><img class="sil-logo" src="/media/logo.png"/></div></a>
      <div class="right-align">
        Don't have an account? <a href="/signup" class="sil-underline">Signup</a>
      </div>
    </nav>

    <sil-login-modal></sil-login-modal>

    <%include partials/scripts %>

  </body>

</html>

