<!DOCTYPE html>
<html ng-app="Silent" ng-cloak>
  <head>
    <% include partials/head %>
    <% include partials/mobile %>
  </head>
  <body class="bg-darken-1" ng-controller="IndexController">
    <% include partials/m_nav %>

    <div ng-click="openHow()" ng-hide="howIsOpen || searchIsOpen" class="sil-landing-how white absolute"><i class="fa fa-question-circle "></i></div>

    <div class="sil-landing col-12 bg-yellow relative">
      <div class="sil-landing-image"></div>
      <div class="sil-landing-content sil-absolute-center absolute center">
        <img class="sil-landing-logo center" src="/media/logo.png" />
        <div class="sil-landing-text white center bold">Speak with your presence</div>
        <div class="white mt1 center ">
          <!--<a href="/about"><div class="sil-pointer inline-block mr1 ml1 px2 py1 mb2 rounded sil-border-white3 center">
              Learn More
          </div></a>-->
          <a href="/login" ng-hide="authenticated"><div class="sil-pointer inline-block ml1 mr1 px2 py1 rounded center sil-border-white3">
            Login / Signup
          </div></a>
          <div class="" ng-show="authenticated">
            <div class="mb2 inline-block ml1 mr1 px3 py1 center bold sil-landing-text">Hello <span class="sil-underline-white">{{ displayName }}</span></div>
            <div class="inline-block ml1 mr1 px3 py1 sil-border-white3 rounded sil-pointer center" ng-click="logout()">Logout</div>
          </div>
        </div>
      </div>
      
    </div>

    <% include partials/m_how %>

    <% include partials/scripts %>

  </body>
</html>
