<!DOCTYPE html>
<html ng-app="Silent" ng-cloak>

  <head>
    <% include partials/head %>
    <% include partials/mobile %>
  </head>
  
  <body class="bg-darken-1" ng-controller="RoomController">

    <!-- get modals ready -->

    <sil-modal show="showShareModal">
      <sil-share-modal></sil-share-modal>
    </sil-modal>

    <sil-modal show="showUserPageModal">
      <sil-user-page-modal></sil-user-page-modal>
    </sil-modal>

    <sil-modal show="showLoginModal">
      <sil-login-modal></sil-login-modal>
    </sil-modal>

    <sil-modal show="showSignupModal">
      <sil-signup-modal></sil-signup-modal>
    </sil-modal>

    <sil-modal show="showJoinRoomModal">
      <sil-join-room-modal></sil-join-room-modal>
    </sil-modal>

    <nav class="sil-room-nav sil-screen-px bg-white sil-green flex sil-space-between fixed" >
      <!-- LHS: ROOM NAME-->
      <div class="">
        <div class="sil-nav-options bold h3" ng-click="roomInfo()">@{{ room }} ({{ totalUsers }})</div>
        <div class="sil-room-info-wrapper sil-fill-width absolute" ng-click="roomInfo()" ng-show="showRoomInfo">
          <div class="sil-room-info bg-white center">
            <div class="inline-block col-2 px1 py2">{{ guests || 0 }}<div class="">ghosts</div></div>
            <div class="inline-block col-2 px1 py2">{{ activeUsers || 0 }}<div class="">active</div></div>
            <div class="inline-block col-2 px1 py2">{{ inactiveUsers || 0 }}<div class="">offline</div></div>
            <div class="inline-block col-2 px1 py2 bold">{{ totalUsers || 0 }}<div class="">total</div></div>
          </div>
        </div>
      </div>

      <!-- MIDDLE: credentials -->
      <div class="sil-nav-options right-align">
        <a href="/"><img ng-show="authenticated" class="sil-pointer align-middle sil-nav-icon" src="/media/user-icon.png"/></a>
        <img ng-hide="authenticated" class="sil-nav-icon sil-pointer align-middle" ng-click="openCredentialsModal()" src="/media/user-icon-offline.png"/>
      </div>
    </nav>

    <div class="sil-room-tabs flex flex-wrap clearfix sil-justify-center" ng-controller="UserListController">

      <!-- user tabs -->
      <sil-join-tab class="sil-pointer" ng-click="openJoinRoomModal()" ng-hide="authenticated"></sil-join-tab>
      <sil-my-user-tab class="sil-pointer" ng-show="authenticated"></sil-my-user-tab>
      <sil-user-tab ng-repeat="user in activeUsers" info="user" class="sil-pointer"></sil-user-tab>
      <sil-guest-tab ng-repeat="guest in guestsToDisplay() track by $index"></sil-guest-tab>
      <sil-user-tab class="muted sil-pointer" ng-repeat="user in inactiveUsers" info="user"></sil-user-tab>

    </div>

    <div class="sil-fill-width white center sil-bg-green absolute sil-notification">
      Silent is in Beta, so <a href="mailto:js@hellovelocity.com">tell us what you think!</a>
    </div>

    <% include partials/scripts %>

  </body>
</html>
