<!DOCTYPE html>
<html ng-app="Silent">

  <head>
    <% include partials/head %>
    <% include partials/mobile %>
  </head>

  <body class="bg-white">

    <nav class="sil-login-signup-nav sil-screen-px bg-white sil-green py2">
      <a href="/"><img class="sil-logo align-bottom" src="/media/logo.png"/></a>
    </nav>

    <br> 

    <sil-signup-modal></sil-signup-modal>

    <% include partials/scripts %>

  </body>

</html>

