<!DOCTYPE html>
<html ng-app="Silent">

  <head>
    <% include partials/head %>
    <script src="/js/lib/angular.min.js"></script>
  </head>
  
  <body class="bg-darken-1" ng-controller="RoomController">

    <!-- get modals ready -->

    <sil-modal show="showShareModal">
      <sil-share-modal></sil-share-modal>
    </sil-modal>

    <sil-modal show="showLoginModal">
      <sil-login-modal></sil-login-modal>
    </sil-modal>

    <sil-modal show="showSignupModal">
      <sil-signup-modal></sil-signup-modal>
    </sil-modal>
    
    <sil-modal show="showLogoutModal">
      <sil-logout-modal></sil-logout-modal>
    </sil-modal>

    <nav class="bg-white sil-green flex flex-baseline px3 py2" ng-controller="NavigationController">
      <div class="sil-nav-options">Silent</div>
      <div class="flex-auto bold h3 center">{{ room }}</div>
      <div class="sil-nav-options right-align">
        <div class="inline-block ml1" ng-show="authenticated">
          <div class="sil-nav-option sil-pointer center p1">
            <span ng-click="logout()">Logout</span>
          </div>
        </div>
        <div class="inline-block ml1" ng-hide="authenticated">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openCredentialsModal()">Login / Signup</div>
        </div>
        <div class="inline-block ml1">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openShareModal()">Share</div>
        </div>
      </div>
    </nav>

    <div class="flex flex-wrap clearfix m2 sil-justify-center" ng-controller="UserListController">

      <!-- user tabs -->
      <sil-join-tab class=""></sil-join-tab>
      <sil-user-tab ng-repeat="user in activeUsers" info="user"></sil-user-tab>
      <sil-user-tab class="muted" ng-repeat="user in inactiveUsers" info="user"></sil-user-tab>

      <!-- empty tabs to left-align last row (TODO: find more elegant solution)-->
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
    </div>

    <!-- libraries -->
    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/angular-moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- global roomId variable -->
    <% if( typeof room != 'undefined') { %>
      <script>roomId = '<%= room %>';</script>
    <% } %>
    
    <!-- scripts -->
    <script src="/js/services.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>
