<!DOCTYPE html>
<html ng-app="Silent" ng-cloak>

  <head>
    <% include partials/head %>
  </head>
  
  <body class="bg-darken-1" ng-controller="RoomController">

    <!-- get modals ready -->

    <sil-modal show="showShareModal">
      <sil-share-modal></sil-share-modal>
    </sil-modal>

    <sil-modal show="showLoginModal">
      <sil-login-modal></sil-login-modal>
    </sil-modal>

    <sil-modal show="showSignupModal">
      <sil-signup-modal></sil-signup-modal>
    </sil-modal>

    <sil-modal show="showUserPageModal">
      <sil-user-page-modal></sil-user-page-modal>
    </sil-modal>

    <sil-modal show="showJoinRoomModal">
      <sil-join-room-modal></sil-join-room-modal>
    </sil-modal>

    <nav class="sil-nav-room bg-white sil-green py3 flex sil-space-between" >
      <!-- LHS: logo -->
      <a href="/"><div class="sil-nav-option ml2 inline-block relative"><img class="sil-logo" src="/media/logo.png"></div></a>

      <!-- MIDDLE: room name -->
      <div class="sil-nav-options inline-block center relative">
        <div class="sil-room-name bold h2 sil-pointer" ng-click="roomInfo()">@{{ room }} ({{ totalUsers }})</div>
        <div class="sil-room-info-wrapper sil-fill-width absolute" ng-show="showRoomInfo">
          <div class="sil-room-info bg-white center rounded sil-shadow arrow-up">
            <div class="inline-block col-2 px1 py2">{{ guests || 0 }}<div class="">ghosts</div></div>
            <div class="inline-block col-2 px1 py2">{{ activeUsers || 0 }}<div class="">active</div></div>
            <div class="inline-block col-2 px1 py2">{{ inactiveUsers || 0 }}<div class="">offline</div></div>
            <div class="inline-block col-2 px1 py2 bold">{{ totalUsers || 0 }}<div class="">total</div></div>
          </div>
        </div>
      </div>

      <!-- RHS: user + share -->
      <div class="inline-block mr2 sil-nav-option right-align">
        <a href="/"><div class="inline-block relative" ng-show="authenticated">
          <img class="sil-pointer sil-nav-icon" src="/media/user-icon.png"/>
        </div></a>
        <div class="inline-block" ng-hide="authenticated">
          <div class="sil-pointer center" ng-click="openCredentialsModal()">
            <img class="sil-nav-icon" src="/media/user-icon-offline.png"/>
          </div>
        </div>
        <!--
        <div class="inline-block ml1">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openShareModal()">Share</div>
        </div>
        -->
      </div>
    </nav>
    <div class="sil-fill-width sil-notification white center sil-bg-green relative">
      <div>Silent is in Beta, so <a href="mailto:js@hellovelocity.com">tell us what you think!</a></div>
      <i class="white fa fa-times sil-close-notification absolute" ng-click="closeNotification($event)"></i>
    </div>

    <div class="flex flex-wrap clearfix m2 sil-justify-center" ng-controller="UserListController">

      <!-- user tabs -->
      <sil-join-tab class="sil-pointer" ng-click="openJoinRoomModal()" ng-hide="authenticated"></sil-join-tab>
      <sil-my-user-tab class="sil-pointer" ng-show="authenticated"></sil-my-user-tab>
      <sil-user-tab ng-repeat="user in activeUsers" info="user"></sil-user-tab>
      <sil-guest-tab ng-repeat="guest in guestsToDisplay() track by $index"></sil-guest-tab>
      <sil-user-tab ng-repeat="user in inactiveUsers" info="user" class="muted"></sil-user-tab>

      <!-- empty tabs to left-align last row (TODO: find more elegant solution)-->
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
    </div>

    <% include partials/scripts %>

  </body>
</html>
