<!DOCTYPE html>
<html ng-app="Silent">

  <head>
    <% include partials/head %>
  </head>
  
  <body class="bg-darken-1" ng-controller="RoomController">

    <!-- get modals ready -->

    <sil-modal show="showShareModal">
      <sil-share-modal></sil-share-modal>
    </sil-modal>

    <sil-modal show="showLoginModal">
      <sil-login-modal></sil-login-modal>
    </sil-modal>

    <sil-modal show="showSignupModal">
      <sil-signup-modal></sil-signup-modal>
    </sil-modal>

    <sil-modal show="showUserPageModal">
      <sil-user-page-modal></sil-user-page-modal>
    </sil-modal>

    <sil-modal show="showJoinRoomModal">
      <sil-join-room-modal></sil-join-room-modal>
    </sil-modal>

    <nav class="bg-white sil-green flex flex-baseline px3 py3" >
      <!-- LHS: logo -->
      <a href="/"><div class="sil-nav-options relative"><img class="sil-logo" src="/media/logo.png"></div></a>

      <!-- MIDDLE: room name -->
      <div class="flex-auto bold h2 center">{{ room }} ({{ activeGuests || 0 }}/{{ activeUsers || 0 }}/{{ totalUsers || 0 }}) </div>

      <!-- RHS: user + share -->
      <div class="sil-nav-options right-align">
        <div class="inline-block ml1 relative" ng-show="authenticated">
          
          <div class="sil-display-image absolute inline-block border circle blue"></div>
          <div class="sil-nav-option sil-pointer center p1" ng-click="openUserPageModal()">
            {{ displayName }}
          </div>
        </div>
        <div class="inline-block ml1" ng-hide="authenticated">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openCredentialsModal()">Login / Signup</div>
        </div>
        <div class="inline-block ml1">
          <div class="sil-nav-option sil-pointer center p1" ng-click="openShareModal()">Share</div>
        </div>
      </div>
    </nav>

    <div class="flex flex-wrap clearfix m2 sil-justify-center" ng-controller="UserListController">

      <!-- user tabs -->
      <sil-join-tab class="sil-pointer" ng-click="openJoinRoomModal()" ng-hide="joinedRoom"></sil-join-tab>
      <sil-my-user-tab class="sil-pointer" ng-show="joinedRoom"></sil-my-user-tab>
      <sil-user-tab ng-repeat="user in activeUsers" info="user" class="sil-pointer"></sil-user-tab>
      <sil-user-tab class="muted sil-pointer" ng-repeat="user in inactiveUsers" info="user"></sil-user-tab>

      <!-- empty tabs to left-align last row (TODO: find more elegant solution)-->
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
      <div class="sil-tab m1 sil-empty-tab"></div>
    </div>

    <% include partials/scripts %>

  </body>
</html>
