<!DOCTYPE html>
<html>
  <head>
    <title>silent</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Silent</h1>
    <p>Welcome to Silent</p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room.js"></script>
  </body>
</html>
