<!DOCTYPE html>
<html ng-app="Silent">

  <head>
    <% include partials/head %>
    <script src="/js/lib/angular.min.js"></script>
  </head>

  <body class="bg-darken-1">

    <nav class="bg-white sil-green flex flex-baseline px3 py2">
      <div class="flex-auto">Silent</div>
      <div class="right-align">
        Have an account? <a href="/login" class="sil-underline">Login</a>
      </div>
    </nav>

    <sil-signup-modal></sil-signup-modal>

    <% include partials/scripts %>
  </body>

</html>

