<!DOCTYPE html>
<html ng-app="Silent" ng-cloak>

  <head>
    <% include partials/head %>
  </head>

  <body class="bg-darken-1">

    <nav class="bg-white sil-green flex flex-baseline px3 py2">
      <a class="flex-auto" href="/"><div class="sil-nav-options relative flex-auto"><img class="sil-logo" src="/media/logo.png"/></div></a>
      <div class="right-align">
        Have an account? <a href="/login" class="sil-underline">Login</a>
      </div>
    </nav>

    <sil-signup-modal></sil-signup-modal>

    <% include partials/scripts %>
  </body>

</html>

