<div class="sil-tab sil-bg-green sil-shadow table black relative">

  <!-- bottom right corner 
  <div class="absolute sil-tab-data sil-h7 muted">
    <span class="" am-time-ago="info.time"></span> | 
    <span></span>
  </div>
  -->

  <!-- main content-->
  <div class="table-cell h6 align-middle">
    <div class="px2 table">
      <div class="table-cell align-middle"><div class="sil-tab-image circle border mr1 sil-border-white2"></div></div>
      <div class="table-cell align-middle white">
        <span class="bold">{{ displayName }}</span> - {{ message || "is present" }} 
      </div>
    </div>
  </div>

</div>
