<div class="sil-tab m1 bg-white rounded sil-shadow table black relative">

  <!-- top right corner -->
  <div class="absolute sil-tab-tags h7">
    <div class="inline-block circle bg-gray sil-tab-tag"></div>
    <div class="inline-block circle bg-gray sil-tab-tag"></div>
  </div>

  <!-- bottom right corner -->
  <div class="absolute sil-tab-data sil-h7 muted">
    <span class="" am-time-ago="info.time"></span> | 
    <span>{{ info.visitorCount }}</span>
  </div>

  <!-- main content-->
  <div class="table-cell h6 align-middle">
    <div class="px2 table">
      <div class="table-cell align-middle"><img class="sil-tab-icon" src="/media/user-icon.png"/></div>
      <div class="table-cell align-middle">
        <span class="bold h5">{{ info.displayName }}</span> {{ info.message }} 
      </div>
    </div>
  </div>

</div>
