<div class="sil-bg-green rounded-top white py2 center h4"> 
  Share <span class="bold"> {{ $parent.room }} </span>
</div>
<div class="flex flex-justify py3 px3">
  <div class="circle"><img src="media/facebook.png" width="45px" height="45px"/></div>
  <div class="circle"><img src="media/facebook.png" width="45px" height="45px"/></div>
  <div class="circle"><img src="media/facebook.png" width="45px" height="45px"/></div>
  <div class="circle"><img src="media/facebook.png" width="45px" height="45px"/></div>
  <div class="circle"><img src="media/facebook.png" width="45px" height="45px"/></div>
</div>
