<div class="sil-tab m1 bg-white rounded sil-shadow table black relative">

  <div class="absolute sil-tab-tags h7">
    <div class="inline-block circle bg-gray sil-tab-tag"></div>
    <div class="inline-block circle bg-gray sil-tab-tag"></div>
  </div>

  <div class="absolute sil-tab-data sil-h7 muted">
    <span class="" am-time-ago="info.time"></span> | 
    <span>{{ info.visitorCount }}</span>
  </div>

  <div class="table-cell h6 align-middle">
    <div class="px2 table">
      <div class="table-cell align-middle"><div class="sil-tab-image circle border mr1"></div></div>
      <div class="table-cell align-middle">
        <span class="bold">{{ info.username }}</span> - {{ info.message }} 
      </div>
    </div>
  </div>

</div>
