<div class="sil-bg-green rounded-top white py2 center h4"> 
  Share <span class="bold"> {{ $parent.room }} </span>
</div>
<div class="flex flex-justify py3 px3">
  <div class="circle m1 sil-pointer">
    <img src="media/icons/facebook.png" width="45px" height="45px"/>
  </div>
  <div class="circle m1 sil-pointer">
    <img src="media/icons/twitter.png" width="45px" height="45px"/>
  </div>
  <div class="circle m1 sil-pointer">
    <img src="media/icons/g+.png" width="45px" height="45px"/>
  </div>
  <div class="circle m1 sil-pointer">
    <img src="media/icons/linkedin.png" width="45px" height="45px"/>
  </div>
  <div class="circle m1 sil-pointer">
    <img src="media/icons/instagram.png" width="45px" height="45px"/>
  </div>
</div>
