<div class="tab m1 bg-white rounded shadow table black relative">

  <div class="absolute tab-tags h7">
    <div class="inline-block circle bg-gray tab-tag"></div>
    <div class="inline-block circle bg-gray tab-tag"></div>
  </div>

  <div class="absolute tab-data h7 muted">
    {{ info.getActiveDuration() | amDurationFormat : 'minute' }} | 1st visitor
  </div>

  <div class="table-cell h6 align-middle">
    <div class="px2 table">
      <div class="table-cell align-middle"><div class="tab-image circle border mr1"></div></div>
      <div class="table-cell align-middle">
        <span class="bold">{{ info.username }}</span> - {{ info.message }} 
      </div>
    </div>
  </div>

</div>
