body {
  width: 100vw;
  min-width: inherit;
  min-height: inherit;
}
nav {
  font-size: 5vw;
}
.sil-screen-width {
  width: 100vw;
}
.sil-screen-px {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 90vw;
}
.sil-screen-mx {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
}
.sil-screen-mx-auto {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}
.sil-screen-mx2 {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 80vw;
}
.sil-screen-mx2-auto {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

/* MOBILE SEARCH BOX */
.sil-search,
.sil-search-create,
.sil-search-result {
  height: 56px;
  line-height: 56px;
}
.sil-search {
  border: 0px;
  max-width: inherit;
  z-index: 100;
}
.sil-search-icon {
  line-height: 56px;
}
.sil-search-close-icon {
  right: 16px;
  top: 16px;
  font-size: 24px;
}
.sil-search-input::-webkit-input-placeholder { color: #fff; }
.sil-search-input:-moz-placeholder { color: #fff; } /* Firefox 18- */
.sil-search-input::-moz-placeholder { color: #fff; }  /* Firefox 19+ */
.sil-search-input:-ms-input-placeholder { color: #fff;}

/* MOBILE SEARCH BOX RESULTS  */
.sil-search-results-wrapper {
  max-width: inherit;
  border: 0px;
}
.sil-search-results {
  border-radius: 0px;
  height: 100vh;
  max-height: inherit;
}
.sil-search-result {
  padding: 0px;
  border-radius: 0px; 
}
.sil-search-create {
  padding: 0px;
  border-radius: 0px;
}
.sil-search-create > div {
  padding-top: inherit;
  padding-bottom: inherit;
}
.sil-search-result-meta {
  float: inherit;
}

/* MOBILE LANDING PAGE*/
.sil-landing {
  height: 100vh;
  margin-top: inherit;
}
.sil-landing-image {
  background-position: 100%;
}
.sil-landing-content {
  min-width: inherit;
  width: 80vw;
}
.sil-landing-logo {
  width: 70vw;
}
.sil-landing-text {
  font-size: 5vw;
}
.sil-landing-how {
  top: 10px;
  right: 10px; 
  z-index: 101;
  font-size: 30px;
}

/* MOBILE LOGIN/SIGNUP */
.sil-auth-modal {
  min-width: inherit;
}
.sil-login-signup-nav {
  border-bottom: 3px solid #3333ff;
}

/* MOBILE ROOM PAGE */
.sil-logo {
  width: 50px;
  height: auto;
}
.sil-tab {
  width: 100vw;
}
.sil-room-nav {
  top: 0px;
  height: 80px;
}
.sil-room-tabs {
  margin-top: 80px;
}
.sil-join-tab {
  width: 100%;
  height: 64px;
}
.sil-modal-dialog {
  width: 90vw;  
}

/* how it works  */
.sil-how {
  top: 0px;
  z-index: 1000;
  height: 100vh;
  min-width: inherit;
  width: 100vw;
}
.sil-how-instructions {
  min-width: inherit;
  line-height: inherit;
}
.sil-how-diagram {
  border-radius: 48px;
  min-width: inherit;
  width: 90vw;
  max-width: 320px;
}
.sil-how-browser-body {
  width: 90%;
  margin: 76px auto;
  overflow: hidden;
  height: 460px;
}
.sil-how-url {
  width: 100%;
  border-bottom: 1px solid #3333ff;
  height: 48px;
  line-height: 48px;
}
.sil-how-browser-item ,
.sil-how-browser-item-you ,
.silhow-browser-item-ghost {
  width: 100%;
}

/* Room Info */
.sil-room-info-wrapper {
  width: 100vw;
  left: 0px;
  top: 0px;
}
.sil-room-info {
  border: 0px;
  width: 100vw;
  max-width: inherit;
}
.sil-nav-options {
  line-height: 80px;
  width: auto;
}


