body {
  font: 14px "Muli", Helvetica, Arial, sans-serif;
  min-height: 100%;
  min-width: 560px;
  width: 100%;
  font-weight: normal;
}
.sil-shadow {
  box-shadow: 1px 1px 8px #eee;
}
.sil-tab {
  width: 295px;
  height: 80px;
}
.sil-empty-tab {
  height: 0px;
}
.sil-tab-image {
  width: 36px;
  height: 36px;
}
.sil-tab-tags {
  right: 4px;
  top: 4px;
}
.sil-tab-tag {
  width: 8px;
  height: 8px;
}
.sil-tab-data {
  bottom: 4px;
  right: 4px; 
}
.sil-nav-options {
  width: 16em;
}
.sil-nav-option {
  height: 10px;
  line-height: 10px;
}
.sil-nav-option.circle {
  width: 10px;
}
.sil-h7 {
  font-size: .675rem;
}
.sil-green {
  color: #39B54A
}
.sil-bg-green {
  background-color: #39B54A
}
.sil-border-green {
  border: 1px solid #39B54A;
}
.sil-border-green2 {
  border: 2px solid #39B54A;
}
.sil-pointer {
  cursor: pointer;
}
.sil-justify-center { 
  justify-content: center; 
}
.sil-justify-flex-end { 
  justify-content: flex-end; 
}
.sil-justify-flex-start { 
  justify-content: flex-start; 
}
.sil-modal-overlay {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  min-width: 560px;
}
.sil-modal-dialog {
  z-index: 10000;
}
.sil-auth-modal {
  min-width: 300px;
}
.sil-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
.sil-absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.sil-fa {
  margin-top: -2px;
  margin-left: -1px;
}
.sil-underline {
  text-decoration: underline;
}
.sil-fill-width {
  width: 100%;
}

/* override basscss defaults */
a {
  color: inherit;
}
::-webkit-scrollbar { 
  display: none; 
}
input:focus{
  outline: 0;
}
input:focus.ng-invalid {
  border: 1px solid red;
}

