body {
  font: 14px "Muli", Helvetica, Arial, sans-serif;
  min-height: 100%;
  min-width: 560px;
  width: 100%;
  font-weight: normal;
}
.sil-shadow {
  box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
}
.sil-space-between {
  justify-content: space-between;
}
.sil-tab {
  width: 294px;
  height: 80px;
}
.sil-tab-icon {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.sil-empty-tab {
  height: 0px;
}
.sil-tab-image {
  width: 36px;
  height: 36px;
}
.sil-tab-tags {
  right: 4px;
  top: 4px;
}
.sil-tab-tag {
  width: 8px;
  height: 8px;
}
.sil-tab-data {
  bottom: 4px;
  right: 4px; 
}
.sil-nav-options {
  width: 16em;
}
.sil-nav-option {
  min-width: 50px;
}
.sil-nav-option.circle {
  width: 10px;
}
.sil-nav-icon {
  width: 30px;
  height: 30px;
}
.sil-h7 {
  font-size: .675rem;
}
.sil-green {
  /*color: #39B54A;*/
  color: #3333ff;
}
.sil-bg-green {
  /*background-color: #39B54A;*/
  background-color: #3333ff;
}
.sil-border-green {
  /*border: 1px solid #39B54A;*/
  border: 1px solid #3333ff;
}
.sil-border-green2 {
  /*border: 2px solid #39B54A;*/
  border: 2px solid #3333ff;
}
.sil-border-white {
  border: 1px solid #fff;
}
.sil-border-white2 {
  border: 2px solid #fff;
}
.sil-border-white3 {
  border: 3px solid #fff;
}
.sil-pointer {
  cursor: pointer;
}
.sil-justify-center { 
  justify-content: center; 
}
.sil-justify-flex-end { 
  justify-content: flex-end; 
}
.sil-justify-flex-start { 
  justify-content: flex-start; 
}
.sil-modal-overlay {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  min-width: 560px;
}
.sil-modal-dialog {
  z-index: 10000;
}
.sil-auth-modal {
  min-width: 300px;
}
.sil-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
.sil-absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.sil-fa {
  margin-top: -2px;
  margin-left: -1px;
}
.sil-underline {
  text-decoration: underline;
}
.sil-underline-white {
  border-bottom: 2px solid white;
}
.sil-fill-width {
  width: 100%;
}
.sil-logo {
  width: 60px;
  height: auto;
  bottom: -4px;
  left: 0px;
  vertical-align: bottom;
}
.sil-display-image {
  width: 28px;
  height: 28px;
  left: -28px;
  top: -2px;
  color: blue;
}

/* nav */
nav {
  top: 0px;
  z-index: 100;
}

/* search */
.sil-searchbox {
}
.sil-search {
  max-width: 340px;
  margin: 0 auto;
  width: 300px;
}
.sil-search-icon {
  left: 10px;
  line-height: 32px;
}
.sil-search-input {
  border: 0px solid #fff;
  background-color: rgba(0,0,0,0);
  width: 90%;
  margin-left: 10%;
}
.sil-search-results-wrapper {
  top: 56px;
  border: 1px solid #3333ff;
  max-width: 340px;
  margin: 0 auto;
}
.sil-search-results {
  max-height: 260px;
  overflow: scroll;
}
.sil-search-result {
  border-bottom: 1px solid #bbb;
}
.sil-search-result:hover {
  background-color: #eee;
}
.sil-search-create {
  word-wrap: break-word;
}
.sil-search-result-meta {
  margin-top: 2px;
}

/* Landing Page */
.sil-landing {
  width: 100vw;
  height: 86vh;
  max-height: 800px;
  margin-top: 102px;
  overflow:hidden;
  /* z-index: -1000;*/
}
.sil-landing-content {
  min-width: 380px;
  margin-top: -5vh;
}
.sil-landing-image {
  width: 100%;
  height: 100%;
  background-image: url( "../media/bg.png" );
  background-size: cover;

  /* blur */
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  margin:-3px;
  padding:3px;
}
.sil-landing-logo {
  width: 300px;
}
.sil-landing-text {
  text-shadow: 0px 0px 8px #333;
}

/* Up ARROW */
.arrow-up:after, .arrow-up:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-up:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-up:before {
  border-color: rgba(51, 51, 255, 0);
  border-bottom-color: #3333ff;
  border-width: 11px;
  margin-left: -11px;
}

/* How It works */
.sil-how {
  min-width: 560px;
  height: 600px;
}
.sil-how-instructions{
  min-width: 560px;
  margin: 0 auto;
  line-height: 50px;
}
.sil-how-diagram {
  overflow: hidden;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto 40px auto;
  padding-left: 0px;
  padding-right: 2px;
  background-color: #eee;
}
.sil-how-browser-bar {
  height: 60px;
  line-height: 60px;
}
.sil-how-browser-button {
  width: 12px;
  height: 12px;
  margin-left: 12px;
  background-color: #999;
}
.sil-how-browser-search {
  width: 50%;
  height: 40px;
  line-height: 40px;
  left: 50%;
  margin-left: -25%;
  margin-top: 10px;
}
.sil-how-browser-body {
  width: 100%;
  min-height: 238px;
}
.sil-how-browser-item,
.sil-how-browser-item-you,
.sil-how-browser-item-ghost {
  width: 100px;
}

/* Room Infomation */
.sil-room-info-wrapper {
  top: 50px;
  z-index: 100;
}
.sil-room-info {
  border: 1px solid #3333ff;
  max-width: 210px;
  margin: 0 auto;
  margin-top: -1px;
}

/* override basscss defaults */
a {
  color: inherit;
}
::-webkit-scrollbar { 
  display: none; 
}
input:focus{
  outline: 0;
}
input:focus.ng-invalid {
  border: 1px solid red;
}

